      </div> <!-- end div container -->
    </div> <!-- end div middle max-full-width -->
    <div class="footer">
      <div class="container">
        <div class="pull-right">
          Piotr Orzechowski &#91;<a href="//orzechowski.tech">orzechowski.tech</a>&#93;
        </div>
        This page was generated in about
        <th1>puts [expr {([utime]+[stime]+1000)/1000*0.001}]</th1>s
        by <a href="http://www.fossil-scm.org" rel="noopener noreferrer">Fossil</a>.
      </div>
    </div>
  </body>
</html>

