<div class="footer">
Piotr Orzechowski &#91;<a href="//orzechowski.tech">orzechowski.tech</a>&#93;.<br>
This page was generated in about
<th1>puts [expr {([utime]+[stime]+1000)/1000*0.001}]</th1>s by
<a href="http://www.fossil-scm.org">Fossil</a>.
</div>
</body></html>

